server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://iot-database-kwinn0332-a11a.c.aivencloud.com:19603/defaultdb?sslmode=require&ssl=true
    username: avnadmin
    password: AVNS_OCAKD1bJDP7ATIAn5OJ
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
jwt:
  secretKey: 2c5dfe83271d0b206b1d4e226a3f351601b454dfb83da5465672e507ed0fabbc
  expirationMs: 86400000